/* Fonts
-------------------------------------------------------------------------------*/

$font-title: "Open Sans Condensed", Arial, sans-serif;
$font-copy: Arial, sans-serif;

$base-font: 12px;
$h1: 4.236em;
$h2: 2.618em;
$h3: 1.618em;

$p: 1.2em;

/* Colors
-------------------------------------------------------------------------------*/

$primary: #056B3A;
$dark-grey: #252C28;
$light-green: #7CC142;
$grey: #576760;
$rusty-red: #48190D;
$light-grey: #CCD3D0;
$blue: #094062;

$hover-green: #468B40;

/* Background Textures
-------------------------------------------------------------------------------*/

$stressed-linen: #000000 url("../img/stressed_linen.png") repeat;
